<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lowell's Bar</title>
</head>

<body>
    <h1>Lowell's Bar <3 </h1>

    
    <form action = "/test" method = "POST">
        <h3>Select Mode</h3> 
        <input type="radio" name="mode1" value="See all drinks containing these ingredients">
        <label for="mode1">See all drinks containing these ingredients</label>
        <input type="radio" name="mode2" value="See drinks containing *only* these ingredients">
        <label for="mode2">See drinks containing *only* these ingredients</label>

        <h3>Select Ingredients</h3>
        <h2>Alcohol Types</h2>
        <input type="checkbox" name="a1" value="Abrigot du Roussillon">
        <label for="a1">Abrigot du Roussillon</label>
        <input type="checkbox" name="a2" value="Absinthe">
        <label for="a2">Absinthe</label>
        <input type="checkbox" name="a3" value="Amer">
        <label for="a3">Amer</label>
        <input type="checkbox" name="a4" value="Aperol">
        <label for="a4">Aperol</label>
        <input type="checkbox" name="a5" value="Aquavit">
        <label for="a5">Aquavit</label>
        <input type="checkbox" name="a6" value="Bailey's Irish Cream">
        <label for="a6">Bailey's Irish Cream</label>
        <input type="checkbox" name="a7" value="Banane du Bresil">
        <label for="a7">Banane du Bresil</label>
        <input type="checkbox" name="a8" value="Bas-Armagnac">
        <label for="a8">Bas-Armagnac</label>
        <input type="checkbox" name="a9" value="Beer">
        <label for="a9">Beer</label>
        <input type="checkbox" name="a10" value="Benedictine">
        <label for="a10">Benedictine</label>
        <input type="checkbox" name="a11" value="Bourbon">
        <label for="a11">Bourbon</label>
        <input type="checkbox" name="a12" value="Brandy">
        <label for="a12">Brandy</label>
        <input type="checkbox" name="a13" value="Cachaca">
        <label for="a13">Cachaca</label>
        <input type="checkbox" name="a14" value="Calvados">
        <label for="a14">Calvados</label>
        <input type="checkbox" name="a15" value="Campari">
        <label for="a15">Campari</label>
        <input type="checkbox" name="a16" value="Cassis Noir du Bourgogne">
        <label for="a16">Cassis Noir du Bourgogne</label>
        <input type="checkbox" name="a17" value="Cava">
        <label for="a17">Cava</label>
        <input type="checkbox" name="a18" value="Champagne">
        <label for="a18">Champagne</label>
        <input type="checkbox" name="a19" value="Chardonnay">
        <label for="a19">Chardonnay</label>
        <input type="checkbox" name="a20" value="Chartreuse">
        <label for="a20">Chartreuse</label>
        <input type="checkbox" name="a21" value="Cherry Heering">
        <label for="a21">Cherry Heering</label>
        <input type="checkbox" name="a22" value="Cocchi Americano">
        <label for="a6">Cocchi Americano</label>
        <input type="checkbox" name="a23" value="Cointreau">
        <label for="a23">Cointreau</label>
        <input type="checkbox" name="a24" value="Cognac">
        <label for="a24">Cognac</label>
        <input type="checkbox" name="a25" value="Curacao">
        <label for="a25">Curacao</label>
        <input type="checkbox" name="a26" value="Cynar">
        <label for="a26">Cynar</label>
        <input type="checkbox" name="a27" value="Dolin Blanc">
        <label for="a27">Dolin Blanc</label>
        <input type="checkbox" name="a28" value="Dram">
        <label for="a28">Dram</label>
        <input type="checkbox" name="a29" value="Eau de Vie">
        <label for="a29">Eau de Vie</label>
        <input type="checkbox" name="30" value="Galliano l'Autentico">
        <label for="a30">Galliano l'Autentico</label>
        <input type="checkbox" name="a31" value="Galliano Ristretto">
        <label for="a31">Galliano Ristretto</label>
        <input type="checkbox" name="a32" value="Gin">
        <label for="a32">Gin</label>
        <input type="checkbox" name="a33" value="Grand Mariner">
        <label for="a33">Grand Mariner</label>
        <input type="checkbox" name="a34" value="Grapefruit Cordial">
        <label for="a34">Grapefruit Cordial</label>
        <input type="checkbox" name="a35" value="Grappa">
        <label for="a35">Grappa</label>
        <input type="checkbox" name="a36" value="Grenadine">
        <label for="a36">Grenadine</label>
        <input type="checkbox" name="a37" value="Lemon Cordial">
        <label for="a37">Lemon Cordial</label>
        <input type="checkbox" name="a38" value="Limoncello">
        <label for="a38">Limoncello</label>
        <input type="checkbox" name="a39" value="Lillet blanc">
        <label for="a39">Lillet blanc</label>
        <input type="checkbox" name="a40" value="Lillet Rose">
        <label for="a40">Lillet Rose</label>
        <input type="checkbox" name="a41" value="Orgeat">
        <label for="a41">Orgeat</label>
        <input type="checkbox" name="a42" value="Madeira">
        <label for="a42">Madeira</label>
        <input type="checkbox" name="a43" value="Menthe-Pastille">
        <label for="a43">Menthe-Pastille</label>
        <input type="checkbox" name="a44" value="Mezcal">
        <label for="a44">Mezcal</label>
        <input type="checkbox" name="a45" value="Pilsner">
        <label for="a45">Pilsner</label>
        <input type="checkbox" name="a46" value="Pineau des Charentes">
        <label for="a46">Pineau des Charentes</label>
        <input type="checkbox" name="a47" value="Pisco">
        <label for="a47">Pisco</label>
        <input type="checkbox" name="a48" value="Port">
        <label for="a48">Port</label>
        <input type="checkbox" name="a49" value="Ramazzotti">
        <label for="a49">Ramazzotti</label>
        <input type="checkbox" name="a50" value="Rose Cremant">
        <label for="a50">Rose Cremant</label>
        <input type="checkbox" name="a51" value="Royal Combier">
        <label for="a51">Royal Combier</label>
        <input type="checkbox" name="a52" value="Rum">
        <label for="a52">Rum</label>
        <input type="checkbox" name="a53" value="Rye">
        <label for="a53">Rye</label>
        <input type="checkbox" name="a54" value="Sake">
        <label for="a54">Sake</label>
        <input type="checkbox" name="a55" value="Salers Gentiane">
        <label for="a55">Salers Gentiane</label>
        <input type="checkbox" name="a56" value="Scotch">
        <label for="a56">Scotch</label>
        <input type="checkbox" name="a57" value="Sherry">
        <label for="a57">Sherry</label>
        <input type="checkbox" name="a58" value="Singani 63">
        <label for="a58">Singani 63</label>
        <input type="checkbox" name="a59" value="Spirit">
        <label for="a59">Spirit</label>
        <input type="checkbox" name="a60" value="St-Germain">
        <label for="a60">St-Germain</label>
        <input type="checkbox" name="a61" value="Strega">
        <label for="a61">Strega</label>
        <input type="checkbox" name="62" value="Suze">
        <label for="a62">Suze</label>
        <input type="checkbox" name="a63" value="Tailor Velvet Falernum">
        <label for="a63">Tailor Velvet Falernum</label>
        <input type="checkbox" name="a64" value="Tequila">
        <label for="a64">Tequila</label>
        <input type="checkbox" name="a65" value="Tincture">
        <label for="a65">Tincture</label>
        <input type="checkbox" name="a66" value="Vermouth">
        <label for="a66">Vermouth</label>
        <input type="checkbox" name="a67" value="Verjus">
        <label for="a67">Verjus</label>
        <input type="checkbox" name="a68" value="Vodka">
        <label for="a68">Vodka</label>
        <input type="checkbox" name="a69" value="Whiskey">
        <label for="a69">Whiskey</label>
        <input type="checkbox" name="a70" value="White Wine">
        <label for="a70">White Wine</label>

        <h2>Fruits</h2>
        <input type="checkbox" name="f1" value="Apple Slice">
        <label for="f1">Apple Slice</label>
        <input type="checkbox" name="f2" value="Banana Chip">
        <label for="f2">Banana Chip</label>
        <input type="checkbox" name="f3" value="Cherry">
        <label for="f3">Cherry</label>
        <input type="checkbox" name="f4" value="Cherry Tomato">
        <label for="f4">Cherry Tomato</label>
        <input type="checkbox" name="f5" value="Cucumber">
        <label for="f5">Cucumber</label>
        <input type="checkbox" name="f6" value="Dehydrated Pineapple Slice">
        <label for="f6">Dehydrated Pineapple Slice</label>
        <input type="checkbox" name="f7" value="Dried Apple Slice">
        <label for="f7">Dried Apple Slice</label>
        <input type="checkbox" name="f8" value="Grapefruit">
        <label for="f8">Grapefruit</label>
        <input type="checkbox" name="f9" value="Green Grape">
        <label for="f9">Green Grape</label>
        <input type="checkbox" name="f10" value="Lemon">
        <label for="f10">Lemon</label>
        <input type="checkbox" name="f11" value="Lime">
        <label for="f11">Lime</label>
        <input type="checkbox" name="f12" value="Orange">
        <label for="f12">Orange</label>
        <input type="checkbox" name="f13" value="Peach Slice">
        <label for="f13">Peach Slice</label>
        <input type="checkbox" name="f14" value="Peach Puree">
        <label for="f14">Peach Puree</label>
        <input type="checkbox" name="f15" value="Pineapple">
        <label for="f15">Pineapple</label>
        <input type="checkbox" name="f16" value="Raspberry">
        <label for="f16">Raspberry</label>
        <input type="checkbox" name="f17" value="Seasonal Stone Fruit">
        <label for="f17">Seasonal Stone Fruit</label>
        <input type="checkbox" name="f18" value="Strawberry Halves">
        <label for="f18">Strawberry Halves</label>


        <h2>Liqueurs</h2>
        <input type="checkbox" name="l1" value="Aloe Liqueur">
        <label for="l1">Aloe Liqueur</label>
        <input type="checkbox" name="l2" value="Apricot Liqueur">
        <label for="l2">Apricot Liqueur</label>
        <input type="checkbox" name="l3" value="Coconut Liqueur">
        <label for="l3">Coconut Liqueur</label>
        <input type="checkbox" name="l4" value="Coffee Liqueur">
        <label for="l4">Coffee Liqueur</label>
        <input type="checkbox" name="l5" value="Faretti Biscotti Famosi Liqueur">
        <label for="l5">Faretti Biscotti Famosi Liqueur</label>
        <input type="checkbox" name="l6" value="Kummel Liqueur">
        <label for="l6">Kummel Liqueur</label>
        <input type="checkbox" name="l7" value="Maraschino Liqueur">
        <label for="l7">Maraschino Liqueur</label>
        <input type="checkbox" name="l8" value="Peach Liqueur">
        <label for="l8">Peach Liqueur</label>
        <input type="checkbox" name="l9" value="Pear Liqueur">
        <label for="l9">Pear Liqueur</label>

        <h2>Bitters</h2>
        <input type="checkbox" name="b1" value="Angostura Bitters">
        <label for="b1">Angostura Bitters</label>
        <input type="checkbox" name="b2" value="Bitter Truth Aromatic Bitters">
        <label for="b2">Bitter Truth Aromatic Bitters</label>
        <input type="checkbox" name="b3" value="Bitter Truth Jerry Thomas Bitters">
        <label for="b3">Bitter Truth Jerry Thomas Bitters</label>
        <input type="checkbox" name="b4" value="Cardamom Bitters">
        <label for="b4">Cardamom Bitters</label>
        <input type="checkbox" name="b5" value="Castilian Bitters">
        <label for="b5">Castilian Bitters</label>
        <input type="checkbox" name="b6" value="Celery Bitters">
        <label for="b6">Celery Bitters</label>
        <input type="checkbox" name="b7" value="Grapefruit Bitters">
        <label for="b7">Grapefruit Bitters</label>
        <input type="checkbox" name="b8" value="Lavender Bitters">
        <label for="b8">Lavender Bitters</label>
        <input type="checkbox" name="b9" value="Orange Bitters">
        <label for="b9">Orange Bitters</label>
        <input type="checkbox" name="b10" value="Mole Bitters">
        <label for="b10">Mole Bitters</label>
        <input type="checkbox" name="b11" value="Peychaud's Bitters">
        <label for="b11">Peychaud's Bitters</label>
        <input type="checkbox" name="b12" value="">
        <label for="b12">Toasted Pecan Bitters</label>

        <h2>Syrups</h2>
        <input type="checkbox" name="s1" value="Basil Stem Syrup">
        <label for="s1">Basil Stem Syrup</label>
        <input type="checkbox" name="s2" value="Cane Sugar Syrup">
        <label for="s2">Cane Sugar Syrup</label>
        <input type="checkbox" name="s3" value="Cinnamon Syrup">
        <label for="s3">Cinnamon Syrup</label>
        <input type="checkbox" name="s4" value="Clarified Strawberry Syrup">
        <label for="s4">Clarified Strawberry Syrup</label>
        <input type="checkbox" name="s5" value="Demerara Gum Syrup">
        <label for="s5">Demerara Gum Syrup</label>
        <input type="checkbox" name="s6" value="Ginger Syrup">
        <label for="s6">Ginger Syrup</label>
        <input type="checkbox" name="s7" value="Grilled Pineapple Syrup">
        <label for="s7">Grilled Pineapple Syrup</label>
        <input type="checkbox" name="s8" value="Honey Syrup">
        <label for="s8">Honey Syrup</label>
        <input type="checkbox" name="s9" value="Maple Syrup">
        <label for="s9">Maple Syrup</label>
        <input type="checkbox" name="s10" value="Pineapple Gum Syrup">
        <label for="s10">Pineapple Gum Syrup</label>
        <input type="checkbox" name="s11" value="Raisin Honey Syrup">
        <label for="s11">Raisin Honey Syrup</label>
        <input type="checkbox" name="s12" value="Simple Syrup">
        <label for="s12">Simple Syrup</label>
        <input type="checkbox" name="s13" value="Strawberry Cream Syrup">
        <label for="s13">Strawberry Cream Syrup</label>
        <input type="checkbox" name="s14" value="White Honey Syrup">
        <label for="s14">White Honey Syrup</label>

        <h2>Solutions</h2>
        <input type="checkbox" name="so1" value="Champagne Acid Solution">
        <label for="so1">Champagne Acid Solution</label>
        <input type="checkbox" name="so2" value="Citric Acid Solution">
        <label for="so2">Citric Acid Solution</label>
        <input type="checkbox" name="so3" value="Lactic Acid Solution">
        <label for="so3">Lactic Acid Solution</label>
        <input type="checkbox" name="so4" value="Phosphoric Acid Solution">
        <label for="so4">Phosphoric Acid Solution</label>
        <input type="checkbox" name="so5" value="Rosemary Salt Solution">
        <label for="so5">Rosemary Salt Solution</label>
        <input type="checkbox" name="so6" value="Salt Solution">
        <label for="so6">Salt Solution</label>
        <input type="checkbox" name="so7" value="Sel Gris Solution">
        <label for="so7">Sel Gris Solution</label>

        <h2>Amari</h2>
        <input type="checkbox" name="am1" value="Amaretto">
        <label for="am1">Amaretto</label>
        <input type="checkbox" name="am2" value="Amaro Abano">
        <label for="am2">Amaro Abano</label>
        <input type="checkbox" name="am3" value="Amaro CioCiaro">
        <label for="am3">Amaro CioCiaro</label>
        <input type="checkbox" name="am4" value="Amaro di Angostura">
        <label for="am4">Amaro di Angostura</label>
        <input type="checkbox" name="am5" value="Amaro Meletti">
        <label for="am5">Amaro Meletti</label>
        <input type="checkbox" name="am6" value="Amaro Montenegro">
        <label for="am6">Amaro Montenegro</label>
        <input type="checkbox" name="am7" value="Amaro Nardini">
        <label for="am7">Amaro Nardini</label>
        <input type="checkbox" name="am8" value="Amaro Nonino">
        <label for="am8">Amaro Nonino</label>

        <h2>Cremes</h2>
        <input type="checkbox" name="cr1" value="Creme Yvette">
        <label for="cr1">Creme Yvette</label>
        <input type="checkbox" name="cr2" value="Creme de Cacao">
        <label for="cr2">Creme de Cacao</label>
        <input type="checkbox" name="cr3" value="Creme de Cassis">
        <label for="cr3">Creme de Cassis</label>
        <input type="checkbox" name="cr4" value="Creme de menthe">
        <label for="cr4">Creme de menthe</label>
        <input type="checkbox" name="cr5" value="Creme de Peche">
        <label for="cr5">Creme de Peche</label>
        <input type="checkbox" name="cr6" value="Creme de Pamplemousse">
        <label for="cr6">Creme de Pamplemousse</label>
        <input type="checkbox" name="cr7" value="Creme de Violette">
        <label for="cr7">Creme de Violette</label>

        <h2>Eggs</h2>
        <input type="checkbox" name="e1" value="Egg White">
        <label for="e1">Egg White</label>
        <input type="checkbox" name="e2" value="Egg (whole)">
        <label for="e2">Egg (whole)</label>
        <input type="checkbox" name="e3" value="Egg White">
        <label for="e3">Egg White</label>

        <h2>Mixes</h2>
        <input type="checkbox" name="m1" value="Bloody Mary Mix">
        <label for="m1">Bloody Mary Mix</label>
        <input type="checkbox" name="m2" value="Don's Mix No. 1">
        <label for="m2">Don's Mix No. 1</label>
        <input type="checkbox" name="m3" value="Tom and Jerry Batter">
        <label for="m3">Tom and Jerry Batter</label>
        <input type="checkbox" name="m4" value="Verde Mix">
        <label for="m4">Verde Mix</label>

        <h2>Garnishes</h2>
        <input type="checkbox" name="g1" value="Basil Leaf">
        <label for="g1">Basil Leaf</label>
        <input type="checkbox" name="g2" value="Brandied Cherry">
        <label for="g2">Brandied Cherry</label>
        <input type="checkbox" name="g3" value="Candied Ginger">
        <label for="g3">Candied Ginger</label>
        <input type="checkbox" name="g4" value="Candy Cane">
        <label for="g4">Candy Cane</label>
        <input type="checkbox" name="g5" value="Celery Ribbon">
        <label for="g5">Celery Ribbon</label>
        <input type="checkbox" name="g6" value="Cereal">
        <label for="g6">Cereal</label>
        <input type="checkbox" name="g7" value="Cherry Wood Chips">
        <label for="g7">Cherry Wood Chips</label>
        <input type="checkbox" name="g8" value="Cinnamon">
        <label for="g8">Cinnamon</label>
        <input type="checkbox" name="g9" value="Cinnamon Stick">
        <label for="g9">Cinnamon Stick</label>
        <input type="checkbox" name="g10" value="Coffee Beans">
        <label for="g10">Coffee Beans</label>
        <input type="checkbox" name="g11" value="Confectioners' Sugar">
        <label for="g11">Confectioners' Sugar</label>
        <input type="checkbox" name="g12" value="Dark Chocolate">
        <label for="g12">Dark Chocolate</label>
        <input type="checkbox" name="g13" value="Demerara Sugar">
        <label for="g13">Demerara Sugar</label>
        <input type="checkbox" name="g14" value="Edible Flower">
        <label for="g14">Edible Flower</label>
        <input type="checkbox" name="g15" value="Mint Sprig">
        <label for="g15">Mint Sprig</label>
        <input type="checkbox" name="g16" value="Olive">
        <label for="g16">Olive</label>
        <input type="checkbox" name="g17" value="Nutmeg">
        <label for="g17">Nutmeg</label>
        <input type="checkbox" name="g18" value="Sugar Cube">
        <label for="g18">Sugar Cube</label>
        <input type="checkbox" name="g19" value="Toasted Coconut Chips">
        <label for="g19">Toasted Coconut Chips</label>
        <input type="checkbox" name="g20" value="Thyme sprig">
        <label for="g20">Thyme sprig</label>
        <input type="checkbox" name="g21" value="Sage">
        <label for="g21">Sage</label>

        <h2>Other Liquids (Non-Alcoholic)</h2>
        <input type="checkbox" name="n1" value="Almond Milk">
        <label for="n1">Almond Milk</label>
        <input type="checkbox" name="n2" value="Apple Celery Soda">
        <label for="n2">Apple Celery Soda</label>
        <input type="checkbox" name="n3" value="Apple Cider">
        <label for="n3">Apple Cider</label>
        <input type="checkbox" name="n4" value="Apple Juice">
        <label for="n4">Apple Juice</label>
        <input type="checkbox" name="n5" value="Coca Cola">
        <label for="n5">Coca Cola</label>
        <input type="checkbox" name="n6" value="Coconut Cream">
        <label for="n6">Coconut Cream</label>
        <input type="checkbox" name="n7" value="Coconut Milk (unsweetened)">
        <label for="n7">Coconut Milk (unsweetened)</label>
        <input type="checkbox" name="n8" value="Coffee">
        <label for="n8">Coffee</label>
        <input type="checkbox" name="n9" value="Cranberry Juice">
        <label for="n9">Cranberry Juice</label>
        <input type="checkbox" name="n10" value="Eucalyptus Extract">
        <label for="n10">Eucalyptus Extract</label>
        <input type="checkbox" name="n11" value="Grapefruit Soda">
        <label for="n11">Grapefruit Soda</label>
        <input type="checkbox" name="n12" value="Half and Half">
        <label for="n12">Half and Half</label>
        <input type="checkbox" name="n13" value="Heavy Cream">
        <label for="n13">Heavy Cream</label>
        <input type="checkbox" name="n14" value="Hot Milk">
        <label for="n14">Hot Milk</label>
        <input type="checkbox" name="n15" value="Ice Cream">
        <label for="n15">Ice Cream</label>
        <input type="checkbox" name="n16" value="Orange Extract">
        <label for="n16">Orange Extract</label>
        <input type="checkbox" name="n17" value="Orange Flower Water">
        <label for="n17">Orange Flower Water</label>
        <input type="checkbox" name="n18" value="Orange Marmalade">
        <label for="n18">Orange Marmalade</label>
        <input type="checkbox" name="n19" value="Root Beer Extract">
        <label for="n19">Root Beer Extract</label>
        <input type="checkbox" name="n20" value="Seltzer">
        <label for="n20">Seltzer</label>
        <input type="checkbox" name="n21" value="Tonic Water">
        <label for="n21">Tonic Water</label>
        <input type="checkbox" name="n22" value="Vanilla">
        <label for="n22">Vanilla</label>
        <input type="checkbox" name="n23" value="Clarified Cucumber Water">
        <label for="n23">Clarified Cucumber Water</label>
        <input type="checkbox" name="n24" value="Clarified Lime Juice">
        <label for="n24">Clarified Lime Juice</label>

        <input type="submit" value="submit_ingredients">
    </form>    

    <h1>{{r_disp}}</h1>
    <p>{{given_ingr}}</p>

    {% for r in results %} 
        <h3>{{r[0]}}</h3>
        {% for x in r[1] %}
            <p>{{x}}</p>
        {% endfor %}
        <p>{{r[2]}}</p>
    {% endfor %} 

</body>
</html>
